@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 10 10 12;
  --text: 245 245 250;
}

html, body { height: 100%; }

body {
  background:
    radial-gradient(1200px 600px at 20% 0%, rgba(255,255,255,.06), transparent 60%),
    radial-gradient(1000px 600px at 80% 10%, rgba(255,255,255,.04), transparent 55%),
    rgb(var(--bg));
  color: rgb(var(--text));
}
